.App{
  margin-top: 7%;
  margin-bottom: 7%;
}

/* Small  */
@media only screen and (max-width: 600px) {
  .App {
    margin-top: 30%; /* Adjust the value according to your needs */
  }
}

/* Medium */
@media only screen and (min-width: 768px) {
  .App {
    margin-top: 15%; /* Adjust the value according to your needs */
  }
}

/* Large devices  */
@media only screen and (min-width: 992px) {
  .App{
    margin-top: 7%;
  }
}

