.n-primary {
    background-color: #ece911 !important; /* Change to your desired background color */
    color: black !important;
    border: solid !important;
    margin-left: 2% !important; /* Push the button to the right */
  }

.n-primary:hover {
    background-color: #ce1414 !important;
  }

.n-primary:active {
    background-color: #ce1414 !important;
  }

.ml-auto {
    background-color: #ffffff !important;
    border: mixed !important;
  }

.nav-link{
  background-color: #ece911 !important; /* Change to your desired background color */
    color: black !important;
    border: solid !important;
    margin-left: 2% !important;
}

.nav-link:hover {
  background-color: #ce1414 !important;
}

.nav-link:active {
  background-color: #ce1414 !important;
}